.search {
    width: 500px;
    padding: 11px 5px;
    border-radius: 6px;
    border: none;
    border: 1px solid blue;
    outline: none;
   font-size: 16px;
    
}
.container-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}